@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  background-color: #060a12;
  color: #e2e8f0;
}

/* Recharts overrides */
.recharts-default-legend {
  text-align: left !important;
}
